.game-window {
    box-sizing: unset;
    position: relative;

    width: 500px;
    height: 300px;

    margin: 30px auto 30px;
    border: 1px solid black;
    
    overflow-x: hidden;
    overflow-y: hidden;

    background-image: url('../images/bg.png');
    background-position: 0 0;
}

.player {
    position: absolute;

    height: 100px;
    width: 50px;

    left: 0;
    bottom: 0;

    background-color: rgba(0, 128, 0, 0.8);
}

.wall-block {
    position: absolute;
    width: 50px;
    height: 300px;
}

.wall {
    display: block;
    background-color: grey;
}

.win-zone {
    position: absolute;
    right: 0;

    height: 500px;
    width: 50px;

    background-color: wheat;
}




.coding-window {
    height: 200px;
    width: 500px;
    margin: 0 auto;

    display: flex;
    align-items: stretch;
}


.coding-textarea {
    width: 80%;

    margin: 0;
    padding: 10px 20px;
}

.run-code-button {
    width: 20%;
    margin: 0;
}
